.input{
    width: 400px;
    height: 50px;
}
.desc_input{
    height: 200px;
    width: 400px;
}
.form__off{
    overflow: hidden;
    position: absolute;
    height: 200px;
    width: 300px;
    right: 10000px;
    top: 50px;
    padding-top: 50px;
}
.file{
    border: dashed 3px black;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    background-color: rgba(0,0,0,0.1);
    
}

