.form_btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_btn{
    width: 30%;
    height: 6.5vh;
    margin-right: 10px;
}
@media (min-height:960px){
    .form_btn{
        height: 3.5vh
    }
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#FFFF00;
    height: 1px;
  }