.mainContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 10vh;
    max-height: 30vh;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.descriptionContainer{
    max-height: 20vh;
    min-height: 5vh;
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
    flex-wrap: wrap;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    align-items: center;
}
.nameContainer{
    max-height: 5vh;
    min-height: 2.5vh;
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
    flex-wrap: wrap;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}