.descriptionContainer{
    max-height: 700px;
    text-align: center;
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    justify-content: center;
    white-space: wrap;
}
.nameContainer{
    max-height: 700px;
    text-align: center;
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    justify-content: center;
    white-space: wrap;
}
