.container{
    width: 101.62%;
    height: 100%;
    position: absolute;
    margin: 0px auto;
}
.sidebar{
    background-color: #292b2c;
    height: 100%;
    position: absolute;
    justify-content: center;
    display: flex;
    font-size: 20px;
}
.video_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    margin-left: 120px;
}
.item{
    background-color: green;
    border: red 5px solid;
    height: 200px; 
    margin: 20px;
}
