.center{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column  ;
    top : 8%;
    left : 0;

}
.videos{
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    flex-wrap: wrap;
  }
  .video{
    border:  5px solid black;
    background-color: aqua;
    width: 20vh;
    height: 20%;
  }

.image{
  display: flex;
  border-radius: 40px;
  border: 2px solid gray;
  margin-top: 10px;
  width: 100px;
  height: 60px;
}