.menu{
  position: fixed;
  height: 100%;
  width: 100%;
  top:75px;
  left:0%;
  z-index: 999;
  transform:translateX(-130%);
  transition: 0.2 s all;
}
.menu.active{
  transform:translateX(0);
}
.blur{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.3)
}
.menu__content{
  width: min(150px,40vw);
  height: 100%;
  background-color: #121314;
  display: flex;
  flex-direction: column;
  transition: 0.9s all;
}

.link{
  color : white;
  text-decoration: none;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}