.app{
  width : 100vw;
  height : 100vh;
}

.__center{
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top : 5% ;
}

.__avatar{
  width: 75px;
  height: 50px;
  border-radius: 40px;
  display: flex;
}

.options{
  z-index: 100;
  position: absolute;
  width: 100px;
  background-color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: darkred 3px solid;
}

.option_links{
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: black;
  font-size: 15px;
  width: 100%;
}